<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
    <div class="radios">
        <label class="radio">
          <input type="radio" name="rsvp" />
          Going
        </label>
        <label class="radio">
          <input type="radio" name="rsvp" />
          Not going
        </label>
        <label class="radio" disabled>
          <input type="radio" name="rsvp" disabled />
          Maybe
        </label>
      </div>
</body>
</html>