<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da Enquete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h1 class="title has-text-centered">
                            Resultados: {{ pergunta }}
                        </h1>

                        <div class="content">
                            {% for alternativa, lista in resultado %}
                            <div class="mb-4">
                                <p>{{ alternativa }} <strong>{{ lista }}</strong> votos</p>
                                <progress class="progress is-primary" value={{ lista }} max="10"></progress>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="notification is-light">

                            Total de votos: <strong>{{ numero_votos }} </strong>

                        </div>

                    </div>

                    <div class="has-text-centered">
                        <a href="/enquete" class="button is-link">Voltar para Enquetes</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>